@charset "UTF-8";
 body{
	background-image: url("background.jpg");
	background-size: cover;
	background-color: rgba(117, 139, 129, 0.5);
    background-blend-mode: lighten;
}

.box1{
	background-color: rgba(221, 187, 255, 1);
}
.box1:hover{
	padding: 4px;
	background-color: white;

}

#container{
  
	padding-top: 30px;
	width: 300px;
	height: 300px;
	margin-top: 150px;
	margin-left: 583px;
	background-color:rgba(221, 187, 255, 1);
	background-blend-mode: lighten;
	border-radius: 20%;
}
#q{
	height: 50px;
	
}

#w{
	height: 50px;
}


#but1:hover{

	background-color: black;
	color: white;
	cursor: pointer;
     padding: 3px 7px;
	 border-radius: 40%;
}